<%= form_for(@organic_unit) do |f| %>
  <% if @organic_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organic_unit.errors.count, "error") %> prohibited this organic_unit from being saved:</h2>

      <ul>
      <% @organic_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "Organizacion padre" %>
    <%= f.collection_select :id_padre, @units, :id, :name, :prompt => 'Select organic unit' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
