<h1><span><%= @title %></span></h1>
<%= link_to 'New Organic unit', new_organic_unit_path %>
<%= form_tag competences_path, :method => 'get', :id => "organizaciones_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>


<div class='contents'>

<!-- la tabla de los usuarios se ha puesto en partial _usuarios.html.erb -->
<!-- para hacer uso de Ajax -->
<div id="organizaciones"><%= render 'organizaciones' %></div>

<div class='clear_all'></div>
</div>
</div>
<br />