<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organic_unit.name %><br />
  <b>Description:</b>
  <%= @organic_unit.description %><br />
  <b>Organización padre:</b>
  <%= OrganicUnit.find(OrganicUnit.find(@organic_unit.id_padre)).name %>
</p><br />
<p>
	
  <%= link_to 'Add members', new_user_org_charge_path(params = :organic_unit_id => @organic_unit.id) %>
</p><br />

<% if !@users.empty? %>
		<p>
			<b> Miembros participantes </b>
		</p>
		<table>
			<tr>
				<th> Name </th>
				<th></th>
			</tr>
			
				<% @users.each do |u| %>
					
					<tr>
						<td> <%= link_to u.name, u %> </td>
						<td> <%= link_to 'Delete', u, :confirm => 'Are you 	sure?', :method => :delete %></td>
					</tr>
				<% end %>
			
		</table>
		<% else %>
			<p><b>No hay ningún miembro en esta organización.</b></p>
	<% end %>


<%= link_to 'Edit', edit_organic_unit_path(@organic_unit) %> |
<%= link_to 'Back', organic_units_path %>
