<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organic_unit.name %><br />
  <b>Description:</b>
  <%= @organic_unit.description %><br />
  <b>Organización padre:</b>
  <% if !@organic_unit.id_padre.nil? %>
	  <%= OrganicUnit.find(OrganicUnit.find(@organic_unit.id_padre)).name %>
	<% else %>
		<p>Raiz</p>
	<% end %>
</p><br />
<p>
	
  <%= link_to 'Add members', new_user_org_charge_path(params = :organic_unit_id => @organic_unit.id) %>
</p><br />

<% if !@users.empty? %>
		<p>
			<b> Miembros participantes </b>
		</p>
		<table>
			<tr>
				<th width='40%'>Name</th>
				<th width='40%'>Charge</th>
				<th></th>
				<th></th>
			</tr>
			
				<% @organic_unit.user_org_charges.each do |u| %>
					
					<tr>
						<td> <%= link_to u.user.name, u.user %> </td>
						<% if !u.charge.nil? %>
							<td> <%= link_to u.charge.name, u.charge %> </td>
						<% else %>
							<td>Sin cargo</td>
						<% end %>
						<td> <%= link_to 'Delete', u, :confirm => 'Are you 	sure?', :method => :delete %></td>
						<td> <%= link_to 'Change charge', edit_user_org_charge_path(u) %> </td>
					</tr>
				<% end %>
			
		</table>
		<% else %>
			<p><b>No hay ningún miembro en esta organización.</b></p>
	<% end %>


<%= link_to 'Edit', edit_organic_unit_path(@organic_unit) %> |
<%= link_to 'Back', organic_units_path %>
