<%= form_for(@user_competence) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label "Competence" %>
    <%= f.collection_select :competence_id, @competences, :id, :name, :prompt => 'Select competence' %>
  </div>
  <div class="field">
    <%= f.label "Level" %>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit "New competence"%>
  </div>
<% end %>