<h1><span><%= @title %></span></h1>
 <%= link_to 'New User', new_user_path %>

 <!-- :id => "usuarios_search es para hacer el buscador con Ajax"-->
  <%= form_tag users_path, :method => 'get', :id => "usuarios_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>



<div class='contents'>

<!-- la tabla de los usuarios se ha puesto en partial _usuarios.html.erb -->
<!-- para hacer uso de Ajax -->
<div id="usuarios"><%= render 'usuarios' %></div>

<div class='clear_all'></div>
</div>
</div>
<br />

