<p id="notice"><%= notice %></p>
<h1> <%= "#{@user.name} #{@user.surname}" %> </h1>
<p>
  <b>Name</b><br />
  <%= @user.name %>
</p>

<p>
  <b>Surname</b><br />
  <%= @user.surname %>
</p>

<p>
  <b>Nif</b><br />
  <%= @user.nif %>
</p>

<p>
  <b>Email</b><br />
  <%= link_to @user.email %>
</p>

<p>
  <b>Phone</b><br />
  <%= @user.phone %>
</p>

<p>
  <b>Address</b><br />
  <%= @user.address %>
</p>
<br />

<% unless @competences.empty? %>
<p>
  <b>Competencias</b><br />
  <%= link_to 'Competencia nueva', new_user_competence_path(@user) %>
</p>
    <table>
      <tr>
        <th width='30%'>Name</th>
        <th width='30%'>Level</th>
        <th></th>
        <th></th>
      </tr>
      <!--@competences array de competencias del user-->
      <% @competences.each do |cuser| %>
        <tr>
          <td> <%= link_to cuser.competence.name, cuser.competence %> </td>
          <td> <%= cuser.level %> </td>
          <td> <%= link_to 'Edit level', '#' %> </td>
          <td> <%= link_to 'Delete', '#' %></td>
        </tr>
      <% end %>
      </table>
      <% end %>
 


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Edit password', edit_password_user_path(@user) %> |
<%= link_to 'Back', users_path %>

