<%= form_for(@user_org) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <% @users.each do |user| %>
    <%= check_box_tag "user_ids[]", user.id  %>
    <%= label_tag(user.name) %>
    <%= f.collection_select :charge_id, @charges, :id, :name, :prompt => 'Select charge' %><br />
    
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :organic_unit_id %>
  </div>

  <div class="actions">
    <%= f.submit "Add members"%>
  </div>
<% end %>