<%= form_for(@charge_competence) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label "Competences" %>
  </div>
  
  <% @competences.each do |compt| %>
    <%= check_box_tag "competence_ids[]", compt.id  %>
    <%= label_tag(compt.name) %><br />
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :charge_id %>
  </div>

  <div class="actions">
    <%= f.submit "New competence"%>
  </div>
<% end %>