<p id="notice"><%= notice %></p>
<h1> <span><%= @title %></span> </h1>
<p>
  <b>Name</b><br />
  <%= @competence.name %>
</p>

<p>
  <b>Cargos en los que aparece</b><br />
  <% if !@charges.empty? %>
  	<table>
  		<tr>
  			<th>Name</th>
  			<th></th>
  		</tr>
  		
  			<% @competence.charge_competences.each do |c| %>
  			<tr>
  				<td><%= link_to c.charge.name, c.charge %></td>
  				<td> <%= link_to 'Delete', c, :confirm => 'Are you  sure?', :method => :delete %></td>
  			</tr>
  			<% end %>
  		
  	</table>
  <% end %>
</p>


<%= link_to 'Edit', edit_competence_path(@competence) %> |
<%= link_to 'Back', competences_path %>