<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @charge.name %>
</p>

<p>
  <%= link_to 'Competencia nueva', new_charge_competence_path(params = :charge_id => @charge.id) %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
